<%@flights.each do |flight| %>
  <%= flight.number %>
  <%flight.passengers.each do |passenger| %>
<p><%= passenger.name %> <%= link_to "Remove Passenger", "/passengers/#{passenger.id}", method: :delete %></p>
    <% end %>
<% end %>
