<%@flights.each do |flight| %>
  <%= flight.number %>
  <%flight.passengers.each do |passenger| %>
      <% passenger.flight_passengers.each do |flight_passenger| %>
      <p><%= passenger.name %> <%= link_to "Remove Passenger", "/flightpassengers/#{flight_passenger.id}", method: :delete %></p>
    <% end  %>
  <% end %>
<% end %>
